--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.5.1+cu121
torchvision==0.20.1+cu121
numpy==1.26.4
PyYAML==6.0.2
tqdm==4.67.1
scipy==1.15.3
scikit-learn==1.6.1
pandas==2.2.3
matplotlib==3.10.1
seaborn==0.13.2
tensorboard==2.19.0
transformers==4.49.0
huggingface_hub==0.36.2
hf_xet==1.5.2
accelerate==1.4.0
safetensors==0.5.3
av==14.2.0
gdown==5.2.0
lmdb==1.7.3
